
/* nav */

nav .nav-top {
    border-bottom: 2px solid #e6e6e6;
}

nav .nav-inner {
    display: flex;
    align-items: center;
}

/* NAV Contacts */

nav .nav-contacts {
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

nav .nav-contacts a {
    display: inline-block;
    color: #19191a;
    text-decoration: none;
}

nav .nav-contacts a .icon {
    display: inline-block;
    margin-right: 5px;
    color: #dfa974;
}

nav .nav-contacts a:hover {
    color: #dfa974;
    text-decoration: underline;
    transition: all 100ms ease;
}

nav .nav-contacts .phone {
    height: 100%;
    padding-right: 2em;
    border-right: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
}

nav .nav-contacts .mail {
    padding-left: 2em;
}

/* /NAV Contacts */

/* NAV Socials */

nav .nav-socials {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav .nav-socials a {
    display: inline-block;
    color: #19191a;
    font-size: 18px;
    margin: 0 10px;
}


/* /NAV Socials */

/* NAV Book Now */

nav .nav_book_now button {
    height: 60px;
    background-color: #dfa974;
    border: none;
    padding: 0 3em;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: background-color 500ms ease;
}

nav .nav_book_now button:hover {
    color: #fff;
    background-color: #906e4d;
}

/* /NAV Book Now */

/* Langs */

nav .langs {
    margin-left: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

nav .langs:hover .sub_langs {
    transform: translateX(-50%) translateY(-5px);
    opacity: 1;
    visibility: visible;
}

nav .langs .flag {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 60%;
    margin-right: 10px;
}

nav .langs .current {
    display: flex;
    align-items: center;
    
}

nav .langs .lang_abbr {
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 5px;
}
nav .langs .icon {
    font-size: 12px;
}

nav .sub_langs {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    width: 130px;
    padding: 1em 1em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

nav .sub_langs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav .sub_langs ul li:not(:last-of-type) {
    margin-bottom: 5px;
}

nav .sub_langs ul a {
    display: inline-block;
    color: #19191a;
    text-transform: uppercase;
}

/* /Langs */

.nav-bottom {
    margin: 0;
}

.nav-bottom .logo {
    margin-right: 450px;
}

.nav-bottom .logo .title {
    font-size: 34px;
    letter-spacing: 1.2px;
    margin: 0;
    margin-right: auto;
    padding: 20px 0;
    cursor: pointer;
}

.nav-bottom .logo span {
    color: #dfa974;
}

.nav-bottom .categories ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-bottom .categories a {
    display: inline-block;
    color: #19191a;
    margin-left: 30px;
    font-size: 18px;

    position: relative;
}

.nav-bottom .categories a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #dfa974;

    position: absolute;
    left: 0;
    bottom: -2px;

    transition: all 300ms ease;
}

.nav-bottom .categories a:hover::after {
    width: 100%;
}

.nav-bottom .categories li:first-of-type a::after {
    width: 100%;
}

.search .icon {
    display: inline-block;
    margin-left: 80px;
    font-size: 20px;
    cursor: pointer;
    transform: rotateY(180deg);
}

/* /nav */

/* header */

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    background-attachment: fixed;


    display: flex;
    align-items: center;

}

header .header_title {
    width: 50%;
    font-size: 90px;
    font-weight: 200;
    line-height: 1.2;
    margin: 0;
}

header .header_desc {
    width: 50%;
    font-size: 18px;
    line-height: 1.5;
}

header .btn a {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    border-bottom: 2px solid #dfa974;
    padding-bottom: 5px;
}

header .container {
    position: relative;
}

header .booking_form {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #19191a;
    
    width: 380px;
    text-align: center;
    
    padding: 40px 40px 50px 40px;
    border-radius: 4px;
}

header .booking_form h3 {
    color: #19191a;
    margin: 0;
    margin-bottom: 35px;
    font-size: 30px;
}

header .booking_form input,
header .booking_form label select {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #19191a;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 20px;
    padding-right: 10px;
}

header .booking_form p {
    font-size: 14px;
    color: #707079;
    margin-bottom: 10px;
    text-align: left;
}

header .booking_form label {
    display: block;
    margin-bottom: 15px;
}

header .booking_form label .for_position {
    position: relative;
}

header .booking_form label .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #dfa974;
}

header .booking_form label .calendar {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #dfa974;
    padding-right: 7px;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: rgb(150, 144, 144);
}

header .booking_form button {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    color: #dfa974;
    border: 1px solid #dfa974;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 300ms ease;
}

header .booking_form button:hover {
    background-color: #dfa974;
    color: #fff;
}

/* /header */

/* About Us */

.about_us {
    padding: 100px 0;
    border-bottom: 1px solid #e5e5e5;
}

.about_us .left,
.about_us .right {
    width: 50%;
}

.about_us .left {
    text-align: center;
    padding: 0 30px;
}

.about_us .left p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 30px;
}

.about_us .btn button {
    display: inline-block;
    text-transform: uppercase;
    color: #19191a;
    background-color: transparent;
    border: none;
    font-size: 13px;
    letter-spacing: 2px;
    border-bottom: 2px solid #dfa974;
    padding-bottom: 5px;
    cursor: pointer;
}

.about_us .right .images {
    display: flex;
    justify-content: space-around;

    height: 100%;
}

.about_us .right .images .img {
    width: 45%;
    height: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* /About Us */

/* Discovery Service */

.discovery_service {
    padding: 100px 0;
}

.discovery_service .item {
    width: calc(33.333% - 30px);
    text-align: center;
    padding: 30px;
    transition: all 300ms ease;
    margin-bottom: 30px;
    border-radius: 5px;
}

.discovery_service .item:hover {
    background-color: #dfa974;
    color: #fff;
}

.discovery_service .row {
    justify-content: space-between;
}

.discovery_service .item .icon {
    font-size: 30px;
    color: #dfa974;
}

.discovery_service .item:hover .icon {
    color: #fff;
    transition: color 300ms ease    ;
}

.discovery_service .item .h3 {
    font-size: 30px;
    margin: 0;

}

.discovery_service .item p {
    font-size: 17px;
    line-height: 1.7;
    margin: 0;
}

/* /Discovery Service */

/* Reviews */

.reviews {
    padding: 100px 0;
    background-color: #f9f9f9;
}

.reviews .swiper-slide {
    text-align: center;
    padding: 0 15%;
}

.reviews .swiper-wrapper {
    padding-bottom: 100px;
}

.reviews .swiper-slide p {
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 40px;
}

.reviews .swiper-slide .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .swiper-slide .stars {
    color: #dfa974;
}

.reviews .swiper-slide .reviews-author {
    margin-left: 7px;
    font-size: 20px;
}

/* /Reviews */

/* Rooms */

.rooms {
    padding: 100px 0;
}

.rooms .row {
    justify-content: space-between;
}

.rooms .item {
    width: calc(25% - 10px);
    padding: 100px 50px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    color: #fff;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, .4);

    overflow: hidden;
}

.rooms .item h3 {
    font-size: 37px;
    margin: 0;
    margin-bottom: 20px;

    transform: translateY(330px);
    transition: transform 600ms ease;
}

.rooms .item .price {
    font-size: 18px;
    transform: translateY(330px);
    transition: transform 600ms ease;
}

.rooms .item .price .sum {
    font-size: 30px;
    font-weight: bold;
    color: #dfa974;
}

.rooms .item .characteristics {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    transform: translateY(400px);
    transition: transform 600ms ease;
}

.rooms .item .characteristics li:not(:last-of-type) {
    margin-bottom: 25px;
}

.rooms .item .characteristics .prop {
    display: inline-block;
    width: 120px;
}

.rooms .item .btn a {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 13px;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.rooms .item .btn {
    transition: transform 600ms ease;
    transform: translateY(400px);
}

.rooms .item:hover .btn {
    transform: translateY(0px);
}

.rooms .item:hover .characteristics {
    transform: translateY(0);
}

.rooms .item:hover .price {
    transform: translateY(0);
}

.rooms .item:hover h3 {
    transform: translateY(0);
}

/* /Rooms */

/* beach */

.beach {
    padding: 100px 0;
}

.beach .item-middle {
    width: calc(33% - 15px);
    height: 450px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    margin-right: 10px;

    border-radius: 6px;
    position: relative;
    color: #fff;
}

.beach .item-big {
    height: 450px;
    width: 65.3%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;

    border-radius: 6px;
    position: relative;
}

.beach .row {
   justify-content: space-between;
}

.beach .item-middle .content {
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.beach .item-middle .text {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #dfa974;
    padding: 3px 10px;
    border-radius: 2px;
}

.beach .item-middle h4 {
    margin: 18px 0;
    font-size: 24px;
    font-weight: 100;
}

.beach .item-middle .time {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Anek Bangla', sans-serif;
}

.beach .item-big .content {
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.beach .item-middle .time i {
    font-size: 13px;
}

.beach .item-big .text {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #dfa974;
    padding: 3px 10px;
    border-radius: 2px;
}

.beach .item-big h4 {
    margin: 18px 0;
    font-size: 24px;
    font-weight: 100;
}

.beach .item-big .time {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Anek Bangla', sans-serif;
}

.beach .item-big .time i {
    font-size: 13px;
}

/* /beach */

/* Footer */

footer {
    padding-top: 100px;
    background-color: #222736;
}

footer h4 {
    color: #dfa974;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

footer p {
    font-size: 15px;
}

footer .first {
    width: 35%;
    margin: 0;

    color: #aaaab3;
    margin-bottom: 20px;
}

footer .row {
    justify-content: space-between;
}

footer .first .footer_logo a {
    font-size: 34px;
    margin: 0;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1.2px;
}

footer .first .footer_logo span {
    color: #dfa974;
}

footer .first .footer_socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #5a4d48;
    color: #fff;
    margin-right: 10px;
    font-size: 25px;
    transition: all 500ms ease;
}

footer .first .footer_socials a:hover {
    background-color: #dfa974;
    border-color: #dfa974;
}

footer .col_contacts {
    width: 28%;
    padding: 0 15px;
}

footer .col_contacts ul {
    list-style: none;
    padding: 0;
    color: #aaaab3;
    font-size: 17px;
    font-family: 'Anek Bangla', sans-serif;
}

footer .col_contacts ul li:not(:last-of-type) {
    margin-bottom: 3px;
}

footer .col_subscription {
    width: 28%;
}

footer .col_subscription input {
    display: inline-block;
    height: 50px;
    border-radius: 2px 0 0 2px;
    background: #393D4A;
    border: none;
    padding-left: 20px;
    font-size: 15px;
    color: #fff;
}

footer .col_subscription p {
    color: #aaaab3;
}

footer .col_subscription button {
    width: 50px;
    height: 50px;
    background-color: #dfa974;
    border: none;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    font-size: 20px;
}

footer .col_subscription button:active {
    font-size: 15px;
}

footer .col_subscription form {
    display: flex;
    align-items: center;
}

footer .footer_bottom {
    padding: 20px 0;
    background-color: rgba(16, 20, 31, 0.2);
}

footer .footer_bottom .row {
    align-items: center;
    justify-content: space-between;
}

footer .footer_bottom .links a {
    display: inline-block;
    color: #aaaab3;
    font-size: 16px;
    margin-right: 30px;
}

footer .footer_bottom .copyright {
    text-align: right;
    font-size: 18px;
    color: #aaaab3;
}

footer .footer_bottom .copyright a {
    color: #aaaab3;
    font-size: 17px;
}

/* /Footer */